@page
@model SmartUnitCalculator.Pages.IndexModel
@{
    ViewData["Title"] = "Smart Unit Calculator";
}

<h1>Smart Unit Calculator</h1>
<br />
<div class="row">
    <div class="col-sm-8">
<form asp-page="Index" method="post" class="form_style">
    <input type="hidden" asp-for="Type" value="@Model.Type" />
  <table class="table">
            @foreach (var unitType in Model.Lists.UnitTypes)
            {
                    @if(unitType.Name == @Model.Type){
                     <th scope="col" class="bg-primary"><a asp-route-Type="@unitType.Name">@unitType.Name</a></th>
                    }
                    else
                    {
                     <th scope="col"><a asp-route-Type="@unitType.Name">@unitType.Name</a></th>
                    }
            }
  </table>

     <table class="table">
         <tr>
             <td scope="row" class="row_style"><select asp-for="Input.BaseUnitId" asp-items="Model.Lists.BaseUnits" class="form-control mb-3" id="FormControlSelect"></select></td>
             <td scope="row" class="row_style"><input type="text" asp-for="Input.BaseValue" class="form-control mb-3" id="exampleFormControlInput"/></td> 
          </tr>
          </table>
          <table class="table">
          <tr>
             <td scope="row" class="row_style"><select asp-for="Input.ResultUnitId" asp-items="Model.Lists.ResultUnits" class="form-control mb-3" id="FormControlSelect"></select></td>
             <td scope="row" class="row_style text-center"><input type="submit" value="Calculate" class="btn btn-primary mb-3"/></td>
        </tr>
     </table>
    <h5 class="text-center">Wynik: @Model.ResultValue </h5>  
</form>
</div>
<div class="col-sm-4">
        <h4 class="text-center">Twoja historia wyszukiwań</h4>
 @if (@User.Identity.IsAuthenticated){
        <table class="table text-white">
        @foreach (var history in Model.Lists.History)
        {
            <tr>
               <td>@history.Created</td> 
                <td>@history.BaseUnit</td>  
                <td>@history.BaseValue</td>  
                <td>@history.ResultUnit</td> 
                <td>@history.ResultValue</td> 
            </tr>
        }
            </table>
        }else
        {
           <div class="text-center mb-3">Zaloguj się, aby widzieć Twoją historię.</div>
           <div class="container text-center">
               <form method="get">
               <div class="row">
               <div class="mr-5 mb-3 col"><button asp-page="LogIn" class="btn btn-primary mr-5">Zaloguj się</button> </div>
               <div class="mr-5 mb-3 col"><button asp-page="Register" class="btn btn-primary mr-4">Zarejstruj się</button></div>
               </div>
               </form>
            </div>
        }
</div>
</div>
